<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if title %} {{ title }} {% else %} Namaste Hospital {% endif %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='namaste-hospitals-icon.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block cssContent %}{% endblock cssContent %}
</head>
<body>
    {% if current_user.is_authenticated %}{% include 'includes/_header.html' %}{% endif %}
    <div class="container-fluid py-3">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-dismissible alert-{{ category }} my-3">
                <button class="close" data-dismiss="alert" aria-label="close"><span aria-hidden="true">&times;</span></button>
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        {% block mainContent %}{% endblock mainContent %}
    </div>
    {% if current_user.is_authenticated %}{% include 'includes/_footer.html' %}{% endif %}
    <script src="{{ url_for('static', filename='plugins/js/bootstrap.bundle.min.js') }}"></script>
    {% block jsContent %}{% endblock jsContent %}
</body>
</html>