<footer class="bg-info pt-3 pb-1 px-0 m-0">
    <div class="container-fluid text-center text-white bg-info py-3">
        <div class="row">
            <div class="col-lg-4">
                <a href="{{ url_for('main.aboutus') }}" class="text-decoration-none text-capitalize text-dark  font-monospace"><h3 class="text-dark font-weight-bold">About Us</h3></a>
                <hr>
                <h4 class=" text-center text-uppercase font-monospace my-3">NAMASTE HOSPITALS</h4>
                <div class="pt-2 pb-3">
                    <a href="#" class="mx-2 text-decoration-none text-white badge bg-primary"><i class="fa fa-facebook fa-2x"></i></a>
                    <a href="#" class="mx-2 text-decoration-none text-primary badge bg-white"><i class="fa fa-twitter fa-2x"></i></a>
                    <a href="#" class="mx-2 text-decoration-none text-danger"><i class="fa fa-youtube-play fa-2x "></i></a>
                    <a href="#" class="mx-2 text-decoration-none text-primary badge bg-white"><i class="fa fa-linkedin fa-2x "></i></a>
                    <a href="#" class="mx-2 text-decoration-none text-white badge bg-primary"><i class="fa fa-google fa-2x"></i></a>
                </div>
                <hr>
            </div>
            <div class="col-lg-4">
                <a href="{{ url_for('main.services') }}" class="text-decoration-none text-capitalize text-dark  font-monospace"><h3 class="text-dark font-weight-bold">Services</h3></a>
                <hr>
                <p class="font-monospace">Emergency<br>Outdoors<br>Pharmacy<br>Ambulance</p>
                <hr>
            </div>
            <div class="col-lg-4">
                <a href="{{ url_for('main.contactus') }}" class="text-decoration-none text-capitalize font-monospace"><h3 class="text-dark font-weight-bold">Contact Us</h3></a>
                <hr>
                <p class="font-monospace">Helpline Number (India)<br>
                    1234-567-8910 (TOLL FREE)<br>
                    Namaste Hospitals Pvt. Ltd.<br>
                    support@namastehospitals.com
                </p>    
                <hr>
            </div>
        </div>
    </div>
    <p class="text-center font-weight-bold text-white-50 font-monospace">Namaste Hospitals | &copy; Copyright 2020-<script>var d = new Date(); document.write(d.getFullYear());</script>  | All rights reserved </p>
</footer>