{% extends 'layout.html' %}
{% block mainContent %}
<section class="container p-1 p-sm-3 text-center">
    <h1 class="font-monospace font-weight-bold">About Us</h1>
    <hr>
    <div class="row py-3">
        <div class="col-md-3 pt-2">
            <img class="img-fluid" src="{{ url_for('static', filename='namaste-hospitals-vertical.png') }}" alt="NO Logo">
            <div class="text-center mt-2">
                <h4>NAMASTE HOSPITALS</h4>
            </div>
        </div>
        <div class="col-md-9">
            <P>We at Namaste Hospitals welcome you to our pristine chain of state-of-the-art hospitals all over India. We believe in giving the best treatment to you without making a hole in your pocket.</P>
            <p>We at Namaste Hospitals also provide assistance after succesful treatment of our patients. We consider our patients as part of our incredible family.</p>
            <p>Namaste Hospitals Pharmacy Services provides medicines at a very nominal pricing. We also provide discounts to our family of loyal customers.</p>
            <p>We are always ready to help our patients in the best possible way with the best doctors in India. We are proud to have some of India's best surgeons working day and night for your well-being.</p>
            <h4>"Think Treatment. Think Namaste Hospitals."</h4>
        </div>
    </div>
</section>
<hr>
<section class="container">
    <div class="text-center">
        <h3>Our Developers</h3>
    </div>
    <hr>
    <div class="row text-center">
        <div class="col-md-2 m-3">
            <img class="img-thumbnail" src="{{ url_for('static', filename='developers/gyan.jpg') }}">
            <h5>Gyan Ankit</h5>
        </div>
        <div class="col-md-2 m-3">
            <img class="img-thumbnail" src="{{ url_for('static', filename='developers/devraj.png') }}">
            <h5>Devraj Roy</h5>
        </div>
        <div class="col-md-2 m-3">
            <img class="img-thumbnail" src="{{ url_for('static', filename='developers/pritam.jpg') }}">
            <h5>Pritam Chatterjee</h5>
        </div>
        <div class="col-md-2 m-3">
            <img class="img-thumbnail" src="{{ url_for('static', filename='developers/prabhat.png') }}">
            <h5>Prabhat Sarkhel</h5>
        </div>
        <div class="col-md-2 m-3">
            <img class="img-thumbnail" src="{{ url_for('static', filename='developers/anupam.png') }}">
            <h5>Anupam Anurag</h5>
        </div>
    </div>
</section>
{% endblock mainContent %}