{% extends 'layout.html' %}

{% block mainContent %}

<section class="container p-1 p-sm-3 ">
    <div class="text-center">
        <h1>Contact Us</h1>
        <hr>
        <p>To provide the best treatment in India, our chain of Hospitals are open 24x7, all around the year.</p>
        <p>Feel free to call our TOLL-FREE Helpline number for any queries. We will answer your calls 24x7.</p>
        <p>Feel free to follow us on all the Social Media sites listed below for regular updates regarding the changes that are constantly being done at Namaste Hospitals. It also gives an oppurtunity to connect directly with you on a regular basis. </p>
        <p>We at Namaste Hospitals belive in the utmost customer satisfaction. So do feel free to share your feedback regarding your experience at <h6 class="badge bg-primary">feedback@namastehospitals.com</h6></p>
        <h4>"Think Treatment. Think Namaste Hospitals."</h4>
    </div>  
    <div class="row my-5">
        <h3 class="text-center my-3">Contact Details</h3>
        <hr>
        <div class="col-md-4 text-center">
            <h5>Reach Us</h5><hr>
            <p>Helpline Number (India)<br>
                1234-567-8910 (TOLL FREE)<br>
                Namaste Hospitals Pvt. Ltd.<br>
                support@namastebank.com<br>
                Address: P-11, Corporate Building,<br>
                City Center, Durgapur-713216.
            </p>
        </div>
        <div class="col-md-4 text-center">
            <h5>Our Branches in India</h5><hr>
            <p>
                Durgapur<br>
                Asansol<br>
                Patna<br>
                Ranchi<br>
                Kolkata<br>
                Bardhaman<br>
            </p>       
        </div>
        <div class="col-md-4 text-center">
            <h5>Social Media</h5><hr>
            <ul class="list-unstyled fa-ul">
                <li><a href="#" class="text-decoration-none text-dark"><i class="fa fa-facebook text-info mr-1"></i> Facebook</a></li>
                <li><a href="#" class="text-decoration-none text-dark"><i class="fa fa-linkedin text-info mr-1"></i> Linkedin</a></li>
                <li><a href="#" class="text-decoration-none text-dark"><i class="fa fa-youtube-play text-danger mr-1"></i> Youtube</a></li>
                <li><a href="#" class="text-decoration-none text-dark"><i class="fa fa-google text-info mr-1"></i> Google</a></li>
                <li><a href="#" class="text-decoration-none text-dark"><i class="fa fa-twitter text-info mr-1"></i> Twitter</a></li>
            </ul>
        </div>
    </div>
</section>

{% endblock mainContent %}